/* Class Name နဲ့ ခေါ်နည်း */
#header {
    background-color: lightgreen;
}

.flag {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: lightblue;
}

.name-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightcoral;
}

.map {
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
    background-color: lawngreen;
}

.capital {
    text-align: left;
    background-color: lightgray;
}

.people {
    background-color: darkkhaki;
}

.figures {
    background-color: rgb(121, 54, 54);
}

/* IDသတ်မှတ်ပြီး ID နဲ့ ပြန်‌ခေါ်နည်း  */
#shwe {
    background-color: gold;
}

.Inlay {
    background-color: silver;
}

.Bagan {
    background-color: brown;
}

.M-Noodle {
    background-color: skyblue;
}

.Dessert {
    background-color: lightgreen;
}

/* IMGတွေရဲ့ အရွယ်ကို တစ်ပေါင်းတည်းသတ်မှတ်တာ */
img {
    max-width: 100%;
    width: 100%;
}

.box-wrapper {
    align-items: stretch;
    display: flex;
    /* Flex မပါရင် ဒေါင်လိုက်စီပေးမှာ ပါရင် ဘေးတိုက်စီပေးမယ်*/
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    flex: 2;
    width: 70%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    /* border: 10px solid red;
    box-shadow: 10px 5px 5px green; */
}

.box-sm {
    flex: 1;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid blue;
    box-shadow: 10px 5px 5px black; */
}

.box-100 {
    flex: 1;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /* border: 1px solid blue;
    box-shadow: 10px 5px 5px black; */
}

.box-sm p {
    line-height: 1.5em;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.figure-images {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.figure-images div {
    width: 50%;
    height: auto;
}

.box-left {
    width: 45%;
    padding: 10px;
    /* border: 5px; */
    text-align: center;
    box-sizing: border-box;
    border: 5px solid grey;
    box-shadow: 10px 10px 10px lightsteelblue;
}

.box-right {
    width: 45%;
    padding: 10px;
    /* border: 5px; */
    text-align: center;
    box-sizing: content-box;
    border: 5px solid grey;
    box-shadow: 10px 10px 10px lightsteelblue;
}

.m-0 {
    margin: 0;
}

.mt-20 {
    margin-top: 20px;
}